/* this is going to be where we keep our global css */
html, body{
    font-family: 'Calibri';
}
.bg{
    background-image: url("/cryptoNews/images/finalbg.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.newsScroll{
    font-family: Calibri;
    font-weight: bold;
}

/* header{
    background-image: url("/images/finalbg.jpg");
} */

.yellowtxt{
    color: #ffc700;
}

.pinkishtxt{
    color: #fa29f8;
}

.blueishbox{
background-color: #1513715d;
}

.yellowbox{
    background-color: #ffc700;
}


.ticker{
    height: 150px;	
    overflow: hidden;
    position: relative;
    background: rgb(0, 0, 0);
    color: #ffc700;
    /* border-top: 1px solid #ffc700;
    border-bottom: 1px solid #ffc700; */
}
.ticker p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
 /* Starting position */
    transform:translateX(100%);
 /* Apply animation to this element */
    animation: scroll-left 20s linear infinite;
}
/* Move it (define the animation) */
@keyframes scroll-left {
    0%   {
        transform: translateX(100%); 		
    }
    100% {
        transform: translateX(-100%); 
    }
}
.blankRow{
    
    height: 10%;
    margin-bottom: 3%;
}

.firstRow{
    /* display: flex; */
    margin-left: 17%;
    margin-right: 10%;
    height: 400px;
    width: 600px;
    margin-bottom: 3%;
    overflow: wrap;
    border: solid 2px white;
    
}

.secondRow{
    border: solid 2px #fa29f68a;
    margin-left: 15%;
    margin-right: 15%;
    height: 20%;
    margin-bottom: 3%;
    background-color: #1513715d;
    border-radius: 10px;
    overflow-wrap: normal;
}

.thirdRow{
    border: solid 2px #fa29f68a;
    margin-left: 15%;
    margin-right: 15%;
    height: 20%;
    margin-bottom: 3%;
    background-color: #1513715d;
    border-radius: 10px;
}

h3{
    color: #ffc700;
    font-size: 24px;
    text-shadow: 2px 2px #000000;
}

h6{
    color:white;
    font-size: 12px;
    text-shadow: 2px 2px black;
    margin-top: 0;
}

/* Place the navbar at the bottom of the page, and make it stick */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
.sticky + .content {
    padding-top: 60px;
  }

.parallax{
    background-image: url("/cryptoNews/images/parrallax.jpg");
    height: 100%;
    background-attachment: fixed;   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fa-twitter-square{
    size: 50px;
}

.blockDiv{
    height: 150px;
    background-color: rgba(240, 248, 255, 0);
}
.z10{
    z-index: 10;
}

#carouselExampleCaptions{
    margin: auto;
    height: 50%;
    width: 50%;
    overflow: hidden;
    text-shadow: 2px 2px black;
    /* border: solid 2px black; */
    /* color: red; */
}

.results{
    /* border: solid 2px #fa29f68a; */
    margin-left: 15%;
    margin-right: 15%;
    height: 20%;
    margin-bottom: 3%;
    /* background-color: #1513715d; */
    border-radius: 10px;
    overflow-wrap: normal;
    font-size: 45%;
}

.z20{
    z-index:20;
}

.opacity{
    opacity: .5;
}
