.contentHolder{
    height: 50%;
    background-color: rgba(255, 255, 255, 0.308);
    color: black;
    font-family: 'Calibri';
    border: 3px solid white;
    border-radius: 14px;
    justify-content: center;
    text-align: center;
    overflow-wrap: normal;
}

.spacing{
    /* padding-left: 2%; */
    margin-bottom: 3%;
}

h5{
    margin-left: 1%;
    flex-wrap: auto;
    width:50%;
    text-align: center;
    text-shadow: 1px 1px rgba(240, 240, 240, 0.541);
}

h4{
    margin-left: 1%;
    flex-wrap: auto;
    width:50%;
    text-shadow: 1px 1px rgba(240, 240, 240, 0.541);
}


