.contentHolder{
    height: 50%;
    background-color: rgba(255, 255, 255, 0.308);
    color: black;
    font-family: 'Calibri';
    border: 3px solid white;
    border-radius: 14px;
    justify-content: center;
    text-align: center;
    overflow-wrap: normal;
}